ul {
  list-style: none;
  padding-left: 0;
}
th.wide {
  width: 200px;
}
th.narrow {
  width: 100px;
}
th.icons {
  width: 70px;
}
img.edit,
img.delete,
img.add {
  cursor: pointer;
}
footer {
  margin-top: 20px;
}
.row.tag {
  margin-top: 10px;
  margin-bottom: 10px;
}
ul.edit-tags li {
  padding: 5px 0;
}
ul.edit-tags li input {
  margin-right: 10px;
}
