ul
  list-style none
  padding-left 0

th
  &.wide
    width 200px
  &.narrow
    width 100px
  &.icons
    width 70px

img
  &.edit, &.delete
    cursor pointer

footer
  margin-top 20px

.row.tag
  margin-top 10px
  margin-bottom 10px

ul.edit-tags
  li
    padding 5px 0

    input
      margin-right 10px
