ul {
  list-style: none;
  padding-left: 0;
}
th.wide {
  width: 200px;
}
th.narrow {
  width: 100px;
}
th.icons {
  width: 60px;
}
img.edit,
img.delete {
  cursor: pointer;
}
footer {
  margin-top: 20px;
}
select.tags {
  height: 300px;
}
.row.tag {
  margin-top: 10px;
  margin-bottom: 10px;
}
