<h1>Tags</h1>

<form action="/tags" role="form" method="post" class="form-inline">
  <%= hidden_field_tag :authenticity_token, form_authenticity_token %>

  <div class="row">
    <div class="col-xs-6">
      <label>Value (no spaces or special characters)</label>
    </div>
    <div class="col-xs-6">
      <label>Display (will display in the menu)</label>
    </div>
  </div>

  <% @tags.each do |tag| %>
  <div class="row tag">
    <div class="col-xs-1">
      <input type="text" class="form-control" name="tags[][order]" value="<%=tag["order"]%>">
    </div>
    <div class="col-xs-5">
      <input type="text" class="form-control" name="tags[][value]" value="<%=tag["value"]%>">
    </div>
    <div class="col-xs-6">
      <input type="text" class="form-control" name="tags[][display]" value="<%=tag["display"]%>">
    </div>
  </div>
  <% end %>

  <% for extras in 1..5 %>
  <div class="row tag">
    <div class="col-xs-1">
      <input type="text" class="form-control" name="tags[][order]">
    </div>
    <div class="col-xs-5">
      <input type="text" class="form-control" name="tags[][value]">
    </div>
    <div class="col-xs-6">
      <input type="text" class="form-control" name="tags[][display]">
    </div>
  </div>
  <% end %>

  <button type="submit" class="btn btn-default">Submit</button>
  <a href="/tags" class="btn btn-default">Reset</a>
</form>
